<!DOCTYPE html>
<html lang="en">

<head>
  <style>
    body {
      font-family: Arial, Helvetica, sans-serif;
    }
  </style>
</head>

<body>
  <strong>Olá, {{ad.author.name}}</strong>
  <p>Você recebeu uma nova proposta para o anuncio {{ad.title}}</p> </br>
  <strong>
    nome: {{user.name}}
  </strong></br>
  <strong>
    email: {{user.email}}
  </strong> </br>
  <p>Mensagem: {{content}}</p>
</body>

</html>
